.slider {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.sliderImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliderPathContainer {
    background: lightgreen;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.sliderPath {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.sliderSlide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.sliderBtn {
    position: absolute;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
}

.sliderBtn--left {
    left: -40px;
    
}

.sliderBtn--right {
    right: -40px;
}

.sliderNav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.sliderIndicator {
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0, .2);
    margin: 0 10px;
    cursor: pointer;

}

.currentSlide {
    background: rgb(0, 0, 0, .75);
}